.main{
    text-align: center;
    margin: 20px;
}
.main .contacts{
    margin-top: 50px;
    margin-bottom: 70px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 100px;
}
.main .contacts i{
    font-size: 60px;
    padding: 20px;
}
.main p{
    margin-top: 20px;
    color: rgb(101, 103, 104);
}
.main .map iframe{
    width: 100%;
}